html, body {
  overflow: hidden;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 600px;
  margin: 0px;
  transition: background 0.2s linear;
}
body {
    background-color: #fff;
    color: #000;
  }
  
  container-top-ten, h4, h2, a[href="/Main/HTML/SSS.html"], .support a {
    color: #000;
  }
  
  body.dark {
    background-color: #222;
  }
  
  body.dark h4,
  body.dark h2,
  body.dark a[href="/Main/HTML/SSS.html"],
  body.dark container-top-ten
  body.dark .support a {
    color: #fff;
  }

  



.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  right: -165px;
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-moon {color: #f1c40f;}

.fa-sun {color: #f39c12;}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --clr: #1b1b1b;
  width: 420px;
  height: 600px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  min-height: 100vh;
}
.navigation {
  width: 420px;
  height: 70px;
  background: #4d4e4e;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 1;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  top: 270px;
  left: -20px;
}
.navigation ul {
  display: flex;
  width: 350px;
}
.navigation ul li {
  position: relative;
  list-style: none;
  width: 70px;
  height: 70px;
  z-index: 1;
}
.navigation ul li a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  font-weight: 500;
}
.navigation ul li a .icon {
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color: #fff;
  opacity: 0.75;
}
.navigation ul li.active a .icon {
  transform: translateY(-8px);
  opacity: 1;
  color: #29fd;
}

.indicator {
  position: absolute;
  top: -10px;
  width: 70px;
  height: 70px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  border: 6px solid #222;
  background: #222;
  cursor: pointer;
  transition: 0.5s;
}
.indicator::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -25.75px;
  width: 20px;
  height: 20px;
  border-top-right-radius: 20px;
  box-shadow: 4px -6px 0 2px #222;
}

.indicator::after {
  content: "";
  position: absolute;
  top: 4px;
  right: -25.75px;
  width: 20px;
  height: 20px;
  border-top-left-radius: 20px;
  box-shadow: -4px -6px 0 2px #222;
  z-index: -1;
}
.navigation ul li:nth-child(2).active ~ .indicator {
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator {
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator {
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator {
  transform: translateX(calc(70px * 4));
}
.indicator span {
  position: absolute;
  bottom: 3px;
  left: -1px;
  width: 60px;
  height: 60px;
  border: 4px solid #29fd;
  background: #fff;
  border-radius: 50%;
  transform-origin: bottom;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  transform: scale(0.85);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

:root {
  --white: #ffffff;
  --gray: #020202;
  --background: #222;
  --tab-background: rgb(0, 224, 254);
  --gray-dark: #3e3e3e;
  --gray-hover: rgb(0, 0, 0);
  --primary-blue: #000000;
  --blue-gray: rgb(0, 0, 0);
  overflow: hidden;

}

body {
  font-family: 'Red Hat Display';
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 20px;
  margin: -90px;
  min-width: 320px;
  max-width: 420px;
  width: 100%;
  min-height: 600px;
  border-radius: 16px;
  background-color: var();
  box-shadow: rgba(100, 100, 111, 0.2) 0px 0px 0px 4px;	
  }
  
  .container-top-ten {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
    color: var(--blue-gray);
  }

header {
  position: relative;
}

.tab-content {
  display: none;
}

.tab-content--active {
  display: block;
}

.tabs {
  position: relative;
  display: flex;
  flex-grow: 1;
  gap: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  flex-wrap: nowrap;
  border-bottom: 1px solid var(--tab-background);
}

.tabs > a {
  position: relative;
  display: flex;
  text-decoration: none;
  padding: 8px;
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  text-align: left;

  justify-content: start;
  align-items: center;
  gap: 8px;
}

.tabs > a img {
  height: 20px;
  width: 20px;
}

.tabs > .active {
  font-weight: 700;
  outline: none;
  border-radius: 8px;
  color: var(--primary-blue);
  background-color: var(--tab-background);
}

.tabs > a:hover {
  background-color: var(--tab-background);
  border-radius: 8px;
}

.tabs > a > svg {
  stroke: var(--white);
}

.tabs > .active > svg {
  stroke: var(--primary-blue);
}

.record {
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  gap: 12px;
  color: var(--white);
  height: 64px;
  opacity: 1;
  padding: 16px 0px;
  animation: fadein 0.3s ease-in-out;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.record .avatar {
  display: block;
  border-radius: 16px;
  flex-grow: 0;
  height: 64px;
  width: 64px;
  border: 1px solid var(--tab-background);
  object-fit: cover;
}

.content {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 16px;
  align-items: center;
}

.content .title {
  font-weight: 700;
  color: var(--white);
}

.content .description {
  font-size: smaller;
}

.title-description {
  display: flex;
  flex-direction: column;
  color: var(--blue-gray);
}

.explore-button {
  text-decoration: none;
  margin-left: auto;
  border: 1px solid var(--white);
  color: var(--white);
  border-radius: 8px;
  height: fit-content;
  padding: 6px 8px;
  transition: all 0.2s ease-in-out;
}

.explore-button:hover {
  border: 1px solid var(--primary-blue);
  color: var(--primary-blue);
}
.h2 {
  text-decoration: none;
}

