
@import url("https://fonts.googleapis.com/css?family=Roboto");

html {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

:root {
  --primary: #007FFF;
  --secondary: #6F7E8C;
  --text: #ffffffbe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background-color: transparent;
  max-width: fit-content;
  width: 100%;
  border-radius: 16px;
}

.box h2 {
  margin: 0px;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

.centering {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input__wrapper {
  position: relative;

}

.input__field {
  border: 1px solid var(--secondary);
  font-size: 1rem;
  border-radius: 8px;
  color: var(--text);
  padding: 8px;
  padding-right: 40px;
  background: transparent;
  transition: border-color 0.2s;
}

.input__field::placeholder {
  color: transparent;
}

.input__field:placeholder-shown ~ .input__label {
  font-size: 1rem;
  cursor: text;
  color: var(--secondary);
  top: 9px;
}


label,
.input__field:focus ~ .input__label {
  position: absolute;
  top: -1px;
  padding: 0 4px;
  background-color: transparent;
  display: block;
  font-size: 12px;
  left: 8px;
  color: var(--secondary);
  transition: 0.3s;
}

.input__field:focus ~ .input__label {
  color: var(--primary);
}

.input__field:focus {
  border: 1px solid var(--primary);
  outline: 1px solid var(--primary);
}

.input__icon {
  position: absolute;
  right: -10px;
  bottom: -8px;
  width: 28px;
  height: 28px;
  transform: translate(-50%,-50%);
  transform-origin: center;
  cursor: pointer;
}


.card-form__button1 {
  width: 100%;
  height: 40px;
  background: #2364d2;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  font-family: "Source Sans Pro", sans-serif;
  box-shadow: 3px 10px 20px 0px rgba(35, 100, 210, 0.3);
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .card-form__button {
    margin-top: 10px;
  }
}